<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-assertive" style="height: auto">
        <div id="user-message">
            <div id="pic-header">
                <img src="images/head1.jpg" class="my-image">
            </div>
            <span id="user-name">user_test</span>
        </div>
    </ion-header-bar>
    <ion-content class="no-header" style="margin-top: 121px;background-color: #eee;border: none;">
        <div class="row text-center service-sub" style="background-color: #fff">
            <a class="col">
                <div class="icon ion-ios-paper positive"></div>
                <span>全部订单</span>
            </a>
            <a class="col">
                <div class="icon ion-ios-folder balanced"></div>
                <span>代付款</span>
            </a>
            <a class="col">
                <div class="icon ion-android-phone-portrait calm"></div>
                <span>待收货</span>
            </a>
            <a class="col">
                <div class="icon ion-chatbox-working energized"></div>
                <span>待评价</span>
            </a>
        </div>
        <div class="list">
            <div class="divider"></div>
            <a class="item">
                <span icon ion-></span>
                小米会员
            </a>
            <a class="item">
                <span icon ion-></span>
                小米会员
            </a>
            <div class="divider"></div>
            <a class="item">
                <span icon ion-></span>
                小米会员
            </a>
            <a class="item">
                <span icon ion-></span>
                小米会员
            </a>
            <div class="divider"></div>
            <a class="item">
                <span icon ion-></span>
                小米会员
            </a>
            <a class="item">
                <span icon ion-></span>
                小米会员
            </a>
        </div>
    </ion-content>
</ion-view>